HOST=127.0.0.1
PORT=3333
NODE_ENV=development
APP_URL=http://${HOST}:${PORT}

CACHE_VIEWS=false

APP_KEY=your_app_key

DB_CONNECTION=pg
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=root
DB_PASSWORD=
DB_DATABASE=adonis_db

SESSION_DRIVER=cookie
HASH_DRIVER=bcrypt

/**
 * 七牛云配置信息
 */
QN_ACCESSKEY=
QN_SECRETKEY=
QN_BUCKET=your_bucket
QN_UPTOKENURL=token
QN_DOMAIN=